<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand text-danger font-weight-bolder" [routerLink]="['/']" routerLinkActive="router-link-active">
    Mini-Netflix
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse text-right" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link text-light" [routerLink]="['/movies']" routerLinkActive="router-link-active">Movies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" [routerLink]="['/favourites']"
          routerLinkActive="router-link-active">Favourites</a>
      </li>
    </ul>
    <app-movie-search></app-movie-search>
  </div>
</nav>
