<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand text-danger font-weight-bolder" [routerLink]="['/']" routerLinkActive="router-link-active">
    Mini-Netflix
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse text-right">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link text-light" [routerLink]="['/movies']" routerLinkActive="router-link-active">Movies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" [routerLink]="['/favourites']"
          routerLinkActive="router-link-active">Favourites</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2 bg-dark text-white" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-danger btn-sm my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
